<div class="row">
  <% @wishlists.each do |wishlist| %>
      <div class="col-md-4">
        <div class="wishlist-box">

          <%= link_to wishlist do %>
              <table>
                <thead>
                <tr>
                  <th><%= wishlist.title %></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><%= wishlist.description %></td>
                  <hr>
                  <td>
                  <%= wishlist.getAllItems.each do |witem| %>
                    <tr>
                      <span>witem.title</span>
                      <span>witem.price</span>
                    </tr>
                  <% end %>
                  </td>
                </tr>
                </tbody>
              </table>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
<br>

<%= link_to 'New Wishlist', new_wishlist_path %>
