<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @wishlist.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @wishlist.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @wishlist.description %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @wishlist.is_public %>
</p>


<p>
  <strong> Items:</strong>
</p>

<ul>
  <% @wishlist.wishlist_items.each do |witem| %>
    <li>
      <%= link_to(increase_priority_wishlist_wishlist_item_path(wishlist_id: @wishlist.id, id: witem.id), method: :put) do %>
        <font size="5" color="green">&uarr;</font>
      <% end %>
      <%= link_to(decrease_priority_wishlist_wishlist_item_path(wishlist_id: @wishlist.id, id: witem.id), method: :put) do %>
        <font size="5" color="red">&darr;</font>
      <% end %>
      <%= witem.priority%>
      <b><%=witem.title%>:</b>
      <%=witem.price%> |
      <%= link_to 'Destroy', wishlist_wishlist_item_path(wishlist_id: @wishlist.id, id: witem.id), method: :delete, data: { confirm: 'Are you sure?' } %> |
      <%= link_to 'Edit', edit_wishlist_wishlist_item_path(wishlist_id: @wishlist.id, id: witem.id) %> |
      <%= link_to(toggle_check_wishlist_wishlist_item_path(wishlist_id: @wishlist.id, id: witem.id, checked_by_id: current_user.id), method: :put) do  %>
        <% if witem.checked_by_id.present?%>
          <span class="glyphicon glyphicon-check"></span>
        <% else %>
          <span class="glyphicon glyphicon-unchecked"></span>
        <% end %>
      <% end %>
      <span> <%= witem.checked_by.try(:name) %> </span>
    </li>
  <% end %>
</ul>

<% if current_user && (current_user.id == @wishlist.user_id)  %>

<%= link_to 'Edit', edit_wishlist_path(@wishlist) %> |
<%= link_to 'Add item', new_wishlist_wishlist_item_path(@wishlist) %> |
<% end %>
<%= link_to 'Back', wishlists_path %>
