<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @wishlist.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @wishlist.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @wishlist.description %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @wishlist.is_public %>
</p>

<% if current_user && (current_user.id == @wishlist.user_id)  %>
<%= link_to 'Edit', edit_wishlist_path(@wishlist) %> |
<%= link_to 'Add item', new_wishlist_wishlist_item_path(@wishlist) %> |
<% end %>
<%= link_to 'Back', wishlists_path %>