<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @wishlist.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @wishlist.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @wishlist.description %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @wishlist.is_public %>
</p>


<p>
  <strong> Items:</strong>
</p>

<ul>
  <% @wishlist.wishlist_items.each do |witem| %>
    <li>
      <%= witem.priority%>
      <b><%=witem.title%>:</b>
      <%=witem.price%>
      <%= link_to 'Destroy', wishlist_wishlist_item_path(wishlist_id: @wishlist.id, id: witem.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Edit', edit_wishlist_wishlist_item_path(wishlist_id: @wishlist.id, id: witem.id) %>
      <%= check_box 'Support', 'validated' %>
    </li>
  <% end %>
</ul>

<% if current_user && (current_user.id == @wishlist.user_id)  %>

<%= link_to 'Edit', edit_wishlist_path(@wishlist) %> |
<%= link_to 'Add item', new_wishlist_wishlist_item_path(@wishlist) %> |
<% end %>
<%= link_to 'Back', wishlists_path %>
